body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background-color: #38a54c;
    color: white;
}

nav h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

/* nav p{
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
} */

#datosAlumno {
    margin-left: 20px;
}

#barraBusqueda {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 20px;
}

main {
    padding: 20px;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

#contenedorFrutas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.card-producto {
    width: 150px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-producto img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.card-producto h3 {
    margin: 5px 0;
    font-size: 1.1em;
}

.card-producto p {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #333;
}

.botonAgregar {
    background-color: #38a54c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: bold;
    width: 100%; 
}

#contenedorCarrito {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contenedorCarrito h2 {
    margin: 20px 0;
}

#contenedorCarrito ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

#contenedorCarrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 350px;
}

.boton-eliminar {
    background-color: #f60221;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 10px;
}

#contenedorCarrito button {
    background-color: #f60221;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 20px;
}